# This file is a template for your environment variables.
# Copy this file to .env and fill in your specific values.
# The .env file is ignored by git and should not be committed.

# The GitHub repository link for the project
GITHUB_PROJECT_LINK=https://github.com/your-username/your-repo

# The Docker Hub link for the container image
DOCKER_HUB_LINK=https://hub.docker.com/r/your-username/your-repo

# The code name to query in the DynamoDB table
CODE_NAME=thedoctor

# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-1